<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>Walkie Doggie</title>
</head>
<body>
  <nav class="navbar navbar-expand-md bg-light">
    <ul class="navbar-nav">
      <% if (user) { %>
        <!-- if the user is logged in -->
        <li class="nav-item">
          <div class="navbar-brand">Walkie Doggie</div>
        </li>
        <li class="nav-item">
          <a class='nav-link' href="/users/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' href="/pages/favorites">Favorites</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' href="/users/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' href="/pages/home">Home</a>
        </li>
      <% } else { %>
        <!-- if the user is logged out -->
        <li class="nav-item">
          <div class="navbar-brand">Walkie Doggie</div>
        </li>
        <li class="nav-item">
          <a class='nav-link' href="/users/new">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' href="/users/login">Login</a>
        </li>
      <% } %>
    </ul>
  </nav>
<div class="text-center">
  <main>
    <h1>Walkie Doggie</h1>
    <%- body %> 
  </main>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>