.my-flex {
    height: 80vh;
}

.my-cards {
    width: 18rem;
    height: 30rem;
}

.home-text {
    height: 80vh;
}

.dog-imgs {
    width: 18rem;
    height: 22rem;
}

.all {
    background-color: #bcabe0;
}

.navy {
    background-color: #896ec4;
}

.butts {
    background-color: #8bb32e;
    border: 1px solid black;
}

.butts-scary {
    background-color: #d3deba;
    border: 1px solid black;
}

.fav-butt {
    background-color: #e884c0;
    border: 1px solid black;
}