<h1>These pups are lookin for someone to walk them today!</h1>
<p>Their parents have busy lives, and would love some extra help! Find the right fit for you and help out a family today!</p>
<% animals.forEach(animal => { %>
    <div>
        <img src= "<%= (animal.photos[0]) ? animal.photos[0].medium : 'null' %>"/>
        <a href="/pages/about/<%= animal.id %>"><%= animal.name %></a>
    </div>
<% }) %>