<h1>Look back on some of your favorite walk experiences!</h1>
<p>Check back on old comments, make edits, walk again, and connect with other users who also walked these pups!</p>
<div class="container-fluid d-flex flex-wrap justify-content-evenly">
    <% animal.forEach(animal => { %>
        <div class="card my-3" style="width: 18rem; height: 30rem;">
            <img src= "<%= (animal.photos[0]) ? animal.photos[0].medium : 'https://place.dog/300/200' %>" class='card-img-top'/>
            <div class="card-body">
                <h5 class="card-title"><%= animal.name %></h5>
                <a href="/pages/about/<%= animal.id %>" class="btn btn-success">About Me!</a>
                <form method="POST" action="/pages/favorites/?_method=DELETE">
                    <input hidden value="<%= animal.id %>" name='id'/>
                    <button class='btn btn-danger' type="submit">Delete!</button>
                </form>
            </div>
        </div>
    <% }) %>
</div>

