<h1>Welcome to Walkie Doggie! Thank you for joining. You are now one step closer to going on a walk with a buddy in need!</h1>
<h3>You will now be able to browse through dogs available for walking, make comments on dogs you have had experiences with, and save the dogs you enjoy walking and spending time with!</h3>
<p>Thank you for lending a hand to these pups and their families!</p>
<ul>
    <li><a href="/home/browse">Let's Walk!</a></li>
</ul>