<% if (msg) { %>
    <div>
        <p><%= msg %></p>
    </div>
<% } %>

<h1>Sign up!</h1>
<form action="/users" method="POST">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" placeholder="enter your email" required/>

    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="enter your password" required/>

    <button type="submit">Sign me up!!!</button>
</form>