<link rel='stylesheet' href="../css/style.css"/>
<div class="d-flex flex-column align-items-center justify-content-center home-text">
    
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class='nav-link' href="/pages/favorites">Favorites</a>
        </li>
    </ul>
    
    <h3>Thanks for joining, <%= user.email %> <3 </h3>
</div>